html {
  overflow-x: hidden;
  font-family: "robotoregular", "Arial", "sans-serif";
}

h2 {
  font-weight: bold;
}

p {
  font-weight: normal;
}

@font-face {
  font-family: "robotoregular";
  src: url("police/roboto-fontfacekit/web fonts/Roboto-Regular-webfont.eot");
  src: url("police/roboto-fontfacekit/web fonts/Roboto-Regular-webfont.eot?#iefix") format("embedded-opentype"), url("police/roboto-fontfacekit/web fonts/Roboto-Regular-webfont.woff2") format("woff2"), url("police/roboto-fontfacekit/web fonts/Roboto-Regular-webfont.woff") format("woff"), url("police/roboto-fontfacekit/web fonts/Roboto-Regular-webfont.ttf") format("truetype"), url("police/roboto-fontfacekit/web fonts/Roboto-Regular-webfont.svg#robotoregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
button {
  background-image: linear-gradient(#FF79DA, #9356DC);
  border-radius: 25px;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  transition: color 1s;
  border-style: none;
  padding: 16px, 32px;
  margin: 24px;
  height: 35px;
  outline: none;
}
button a {
  color: #ffff;
  text-decoration: none;
}

.loadingspinner svg {
  transform-origin: center;
  animation: rotate 2s linear infinite;
  width: 10em;
}
.loadingspinner circle {
  fill: none;
  stroke: #9356DC;
  stroke-width: 2;
  stroke-dasharray: 1, 200;
  stroke-dashoffset: 0;
  stroke-linecap: round;
  animation: dash 1.5s ease-in-out infinite;
}
@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}
@keyframes dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 90, 200;
    stroke-dashoffset: -35px;
  }
  100% {
    stroke-dasharray: -125px;
  }
}

/**container localisation**/
.localisation {
  display: flex;
  width: 100%;
  background-color: #E2E2E2;
  justify-content: center;
  padding-bottom: 0.5em;
}
.localisation form {
  flex-direction: row;
  padding-top: 0.5em;
  text-align: center;
}
.localisation input {
  margin-left: 10px;
  border: none;
  background-color: #E2E2E2;
}
.localisation i {
  display: inline-flex;
  padding-top: 10px;
}

.placeholder {
  font-weight: bold;
  color: black;
}

/**container presentation**/
.presentation {
  background-color: #F6F6F6;
  text-align: center;
  font-weight: bold;
}

/**container fonctionnement**/
.fonctionnement {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 16px;
  margin-left: 13px;
}
.fonctionnement h2 {
  font-size: 21px;
  font-weight: bold;
  margin: 16px 16px 8px 16px;
}
.fonctionnement span {
  color: #ffffff;
  border: 0 solid #9356DC;
  border-radius: 150%;
  background-color: #9356DC;
  text-align: center;
  padding: 6px 11px;
  margin: 0 16px 0 -32px;
}
.fonctionnement p {
  justify-content: center;
  font-size: 16px;
  font-weight: bold;
  border: 1px solid #F4F4F5;
  border-radius: 20px;
  box-shadow: -1px 1px 11px 5px rgba(0, 0, 0, 0.32);
  background-color: #F6F6F6;
  margin: 16px;
  padding: 16px;
  cursor: pointer;
}
.fonctionnement p:hover {
  background-color: #f5edff;
}
.fonctionnement p:hover i {
  color: #9356DC;
}
.fonctionnement p i {
  padding-right: 16px;
  color: #7e7e7e;
  font-size: 19px;
}

/**container restaurants**/
.restaurants {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 40px;
  background-color: #F6F6F6;
  margin-top: 30px;
}
.restaurants h2 {
  font-size: 21px;
  font-weight: bold;
  margin: 16px 16px 8px 16px;
  padding-top: 16px;
}
.restaurants-name {
  justify-content: center;
  border: 0 white solid;
  border-radius: 20px;
  background-color: #ffffff;
  margin: 16px;
  height: auto;
  box-shadow: 2px 2px 8px 2px #AFAFB1;
  position: relative;
}
.restaurants-name a {
  text-decoration: none;
  color: black;
  margin-bottom: 0;
}
.restaurants-name img {
  object-fit: cover;
  width: 100%;
  height: 175px;
  border-radius: 18px 18px 0 0;
}
.restaurants-name_description {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 10px;
}
.restaurants-name_description h3 {
  font-weight: bold;
}
.restaurants-name .far.fa-heart {
  position: absolute;
  top: 190px;
  left: 80%;
  font-size: 21px;
}
.restaurants-name .far.fa-heart:hover {
  font-size: 21px;
  background: linear-gradient(#FF79DA, #9356DC);
  transition: all 2s linear 0s;
}

.restaurants-name_new {
  position: absolute;
  right: 16px;
  top: 16px;
  background-color: #99E2D0;
  border: 1px solid #99E2D0;
  border-radius: 3px;
  font-weight: bold;
  text-align: center;
  color: #28967c;
  padding: 3px 8px 3px 8px;
}

footer {
  display: flex;
  flex-direction: column;
  background-color: #353535;
}
footer a {
  color: #ffffff;
  text-decoration: none;
  font-weight: normal;
  margin-left: 10px;
}
footer h5 {
  color: white;
  margin-left: 15px;
}
footer .fas {
  margin-right: 10px;
  margin-left: 10px;
}
footer .far {
  margin-right: 5px;
  margin-left: 10px;
}

header {
  text-align: center;
}

img {
  height: 30px;
}

/*# sourceMappingURL=style.css.map */
