/**container localisation**/

.localisation{
    display: flex;
    width: 100%;
    background-color: $localcolor;
    justify-content: center;
    padding-bottom: 0.5em;
    & form{
        flex-direction: row;
        padding-top: 0.5em;
        text-align: center;
     }
     & input{
        margin-left: 10px;
        border: none;
        background-color: $localcolor;
        
     }
     & i {
         display: inline-flex;
         padding-top: 10px;
         

     }
}
.placeholder{
    font-weight: bold;
    color: black;
}



/**container presentation**/

.presentation{
    background-color: $presentationcolor;
    text-align: center;
    font-weight: bold;
}

/**container fonctionnement**/
.fonctionnement{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 16px;
    margin-left: 13px;
    & h2 {
        @include choice;
    } 
    & span {
        @include number;
    }
    & p {
        justify-content: center;
        font-size: 16px;
        font-weight: bold;
        @include borderradius;
        margin: 16px;
        padding: 16px;
        cursor: pointer;
        &:hover {
            background-color: #f5edff;
            & i {
                color: $colorprimary;
            }
        }
        & i {
            padding-right: 16px;
            color: #7e7e7e;
            font-size: 19px;
        }
    }
}
/**container restaurants**/
.restaurants{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 40px;
    background-color: $presentationcolor;
    margin-top: 30px;
    & h2 {
        @include choice;
        padding-top: 16px;
    }
}

.nomrestaurant{
    @include photos;
    & a{
        text-decoration: none;
        color: black;
        margin-bottom: 0;
    }
    & img{
        object-fit: cover;
        width: 100%;
        height: auto;
        border-radius: 18px 18px 0 0 ;
    }
    & h3{
        margin-left: 5px;
    }
    & p{
        margin-left: 5px;
    }

}    