footer{
    display: flex;
    flex-direction: column;
    background-color: #353535;
    & a{
        color: #ffffff;
        text-decoration: none;
        font-weight: normal;
        margin-left: 10px;
    }
   & h5{
       color: white;
       font-family: 'Shrikhand', 'Arial', 'sans-serif';
       margin-left: 15px;
   }
   .fas{
       margin-right: 10px;
       margin-left: 10px;
   }
   .far{
       margin-right: 5px;
       margin-left: 10px;
   }
}


