@font-face{
    font-family: 'robotoregular';
    src: url('police/roboto-fontfacekit/web fonts/Roboto-Regular-webfont.eot');
    src: url('police/roboto-fontfacekit/web fonts/Roboto-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('police/roboto-fontfacekit/web fonts/Roboto-Regular-webfont.woff2') format('woff2'),
         url('police/roboto-fontfacekit/web fonts/Roboto-Regular-webfont.woff') format('woff'),
         url('police/roboto-fontfacekit/web fonts/Roboto-Regular-webfont.ttf') format('truetype'),
         url('police/roboto-fontfacekit/web fonts/Roboto-Regular-webfont.svg#robotoregular') format('svg');
    font-weight: normal;
    font-style: normal;

}