@mixin button ($color: $colorsecondary) {
    background-image: $colorbutton;
    border-radius: 25px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    transition: color 1s;
    border-style: none;
    padding: 16px, 32px;
    margin: 24px;
    height: 35px;
}